<% if current_user %>
  <nav>
    <div class="nav-wrapper teal darken-1">
      <div class="container">
        <a class="brand-logo">URLockbox</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
